<!DOCTYPE html>
<html>

<head>

<title>ESTRACK Training Exam</title>

<style>

body{
background-image:url("/static/background.jpg");
background-size:cover;
background-position:center;
font-family:Arial;
color:white;
text-align:center;
padding-top:200px;
}

.panel{
background:rgba(6,25,38,0.85);
width:500px;
margin:auto;
padding:40px;
border-radius:8px;
}

button{
padding:15px 40px;
font-size:18px;
background:#0c3c5c;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#145d8a;
}

</style>

</head>

<body>

<div class="panel">

<h1>ESTRACK Training Simulator</h1>

<p>25 Questions</p>
<p>80% required to pass</p>

<br>

<a href="/start">
<button>Start Exam</button>
</a>

</div>

</body>
</html>
