<!DOCTYPE html>
<html>

<head>
<title>ESTRACK Training Exam</title>

<style>

body{
background-image:url("/static/background.jpg");
background-size:cover;
background-position:center;
color:white;
font-family:Arial;
text-align:center;
padding-top:180px;
}

.container{
background:rgba(6,25,38,0.85);
padding:50px;
width:500px;
margin:auto;
border-radius:8px;
}

button{
padding:15px 40px;
font-size:18px;
background:#0c3c5c;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#145d8a;
}

</style>
</head>

<body>

<div class="container">

<h1>ESTRACK Training Simulator</h1>

<p>25 Questions — 80% required to pass</p>

<a href="/start">
<button>Start Exam</button>
</a>

</div>

</body>
</html>
